body {
    font-size: 16px;
    font-family: "Times New Roman", times, serif, "Helvetica Neue";
    background-color: #f2f2f2;
    overflow-x: hidden;
}
nav {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(45, 45, 214) 0%);
}
nav div div ul li a:hover {
    background-color: #00bfff;
    cursor: pointer;
}
#tttitle {
    font-size: calc(40px + 2.25vw);
}
.masthead {
    position: relative;
    background-color: #343a40;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.masthead:before {
    content: "";
    position: absolute;
    background-color: #1c375e;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.masthead h1, .masthead .h1 {
    font-size: 2rem;
}
@media (min-width: 768px) {
    .masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    .masthead h1, .masthead .h1 {
        font-size: 3rem;
    }
}
.category.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fafafa;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #68A4C4;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #85b6cf;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

section {
  padding: 60px 0;
}
.section-bg {
  background-color: #f3f8fa;
}
.section-title {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.info .container {
  box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
  background: #fff;
}
.info .icon-box+.icon-box {
  margin-top: 50px;
}
.info .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background: #f3f8fa;
  border-radius: 6px;
  transition: 0.5s;
}
.info .icon-box .icon i {
  color: #68A4C4;
  font-size: 32px;
}
.info .icon-box:hover .icon {
  background: #68A4C4;
}
.info .icon-box:hover .icon i {
  color: #fff;
}
.info .icon-box .title {
  margin-left: 95px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}
.info .icon-box .description {
  margin-left: 95px;
  line-height: 24px;
  font-size: 14px;
}

.why-us {
  padding-bottom: 20px;
}
.why-us .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0 0 40px 0;
  background: #fff;
  box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 1px solid #fff;
}
.why-us .icon {
  margin: 0 auto 20px auto;
  padding-top: 17px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 72px;
  height: 72px;
}
.why-us .icon i {
  font-size: 36px;
  line-height: 1;
}
.why-us .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.why-us .description {
  font-size: 15px;
  line-height: 28px;
}
.why-us .icon-box-blue .icon {
  background: #e1eeff;
}
.why-us .icon-box-blue .icon i {
  color: #2282ff;
}
.why-us .icon-box-blue:hover {
  border-color: #2282ff;
}

.subjects {
  text-align: center;
}

.faqs {
  font-size: normal;
}

.subject .row {
  margin-top: 20px;
  text-align: center;
}
.subject h1 {
  text-align: center;
}
.subject h3 {
  font-size: 18px;
  font-weight: 420;
}

#instagram {
  text-align: center;
}
.footer {
  background-color: rgba(0, 0, 0, 0.4);
}
#copyright {
  background-color: rgba(0, 0, 0, 0.5);
}