body {
    font-size: 16px;
    font-family: "Times New Roman", times, serif, "Helvetica Neue";
    background-color: #f2f2f2;
    overflow-x: hidden;
}
nav a:hover {
    background-color: #00bfff;
    cursor: pointer;
}
#tttitle {
    font-size: calc(40px + 2.25vw);
}
.masthead {
    position: relative;
    background-color: #343a40;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.masthead:before {
    content: "";
    position: absolute;
    background-color: #1c375e;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.masthead h1, .masthead .h1 {
    font-size: 2rem;
}
@media (min-width: 768px) {
    .masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    .masthead h1, .masthead .h1 {
        font-size: 3rem;
    }
}
.card-info {
    background-color: white;
    box-shadow: 2px 2px 2px #333;
    padding: 2em;
    text-align: center;
    margin: 2em auto;
    width: 80%;
    border-radius: 5px;
    animation: cardEntry 0.5s ease-in-out;
}
.card-info h2 {
    margin-top: 0;
}
@keyframes cardEntry {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.category.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fafafa;
}
footer {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
}